[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/zsh-autocomplete"]
	path = zsh/.zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
