[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/zsh-autocomplete"]
	path = zsh/.zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
  path = tmux/.config/tmux/plugins/tmux-sensible
  url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.config/tmux/plugins/vim-tmux-navigator"]
  path = tmux/.config/tmux/plugins/vim-tmux-navigator
  url = https://github.com/christoomey/vim-tmux-navigator.git
